.propertyCont{
    position:fixed;
    bottom:50px;
    right:10px;
    border-radius:3px;
}
.property-header{
    padding:5px 10px;
}
.property-header h3{
    text-align:center;
}
.input-control{
    /* padding:10px; */
    width:90%;
    margin:5px auto;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    height:30px;
}
.label{
    grid-column-start:1;
    grid-column-end:2;
    width:100%;
    height:100%;
}
.label:hover{
    cursor:pointer;
    background-color:#F3244A !important;
}
.label p{
    font-size:15px;
}
.input{
    grid-column-start:2;
    grid-column-end:5;
    width:100%;
    height:100%;
    overflow:hidden;
}
.input input{
    outline:none;
    padding:5px;
    width:100%;
    height:100%;
    font-size:15px;   
}