.tool-content{
    height:100%;
    width:100%;
    grid-column-start:1;
    grid-column-end:3;
    /* grid-row-start:1;
    grid-row-end:12; */
}
.ul-tool{
    width:100%;
    height:100%;
    padding:10px;
    align-items:flex-start!important;
    list-style:none;
}
.ul-tool li{
    width:100%;
    padding:10px 5px;
    border-radius:3px;
}
.ul-tool li:hover{
    background-color:var(--primary)!important;
    cursor:pointer;
    padding-left: 15px;
    color:white;
    box-shadow:none;
    transform:scale(0.98);
}