.view-work{
    grid-column-start: 4;
    grid-column-end:11;
    grid-row-start:1;
    grid-row-end:13;
    position:relative;
    /* overflow:hidden; */
}
/* *2.480 x 3.508 a4*/
/** officio y 220  y 340*/
/** carta 220 280 */
.view-cont{
    transform:scale(0.6);
    position:absolute;
    display:grid;
    align-items:center;
    justify-content:center;
    grid-template-columns:repeat(40,1fr);
    width:22.0cm;
    height:28.00cm;
    overflow:hidden;
}
.sectores{
    background-color:transparent;
    width:0.55cm;
    height:0.55cm;
    cursor:pointer;
    /* width:2.48px;
    height:3.508px; */
}
.sectores:hover{
    transform: scale(1.5);
    border-color:#248CF3;
}
.show-ids{
    position:fixed;
    top:70px;
    right:10px;
}